#root {
  max-width: 1160px;
  margin: 0 auto;
}

.u-limitations-grid-layout {
  grid-template-columns: repeat(12, 1fr);

  grid-template-areas:
    "heading . gender"
    "line age muscle"
    "pregnancy . race";

  row-gap: 32px;
  column-gap: 34px;
}

.grid-heading {
  grid-area: heading;
  grid-column: 1 / span 6;
  width: 90%;
  position: relative;
}

.grid-heading:after {
  content: "";
  position: absolute;
  display: block;
  right: 50%;
  transform: translateX(50%);
  bottom: -122px;

  width: 94px;
  height: 122px;
  background-image: url("src/assets/line.png");
  background-size: contain;
}

.limitation-card p::first-letter {
  text-transform: uppercase;
}

.grid-gender {
  grid-area: gender;
  grid-column: 8 / span 4;
}

.grid-line {
  grid-area: line;
  grid-column: 2 / span 2;
}

.grid-age {
  grid-area: age;
  grid-column: 5 / span 4;
}

.grid-muscle {
  grid-area: muscle;
  grid-column: 9 / span 4;
}

.grid-pregnancy {
  grid-area: pregnancy;
  grid-column: 3 / span 4;
}

.grid-race {
  grid-area: race;
  grid-column: 7 / span 4;
}
